@import "../../../assets/scss/main.scss";

footer {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: $lightgrey;

  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;

  .footer-distributed {
    box-shadow: 0 1px 1px 0 $lightgrey;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 15px sans-serif;

    padding: 10px;
    margin-top: 30px;
  }

  .footer-left {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    color: $pretty-black;

    .logo {
      width: 300px;
      //height: 50px;
      padding-left: 5px;
      img {
        max-width: 100%;
        max-height: auto;
      }
    }
  }

  .footer-center {
    width: 40%;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    color: $pretty-black;
    left: 0;

    ul {
      list-style-type: none;
      span:nth-child(1) {
        color: $neongreen;
        font-size: 15px;
      }
    }
  }

  .footer-right {
    display: inline-block;

    ul {
      list-style-type: none;
      a {
        // font-size: 30px;
        color: $neongreen;
        span {
          font-size: 30px;
        }
      }
    }
  }
}

@media (max-width: 880px) {
  footer {
    position: relative;
    .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    font: bold 14px sans-serif;
    align-content: center;
  }

  .footer-distributed .footer-right {
    display: none;
  }
}
