<footer>
  <footer class="footer-distributed">
    <div class="footer-left">
      <div class="logo">
        <img src="../../../assets/img/easykars-bg-white.png" alt="Easy Kars" />
      </div>
      <p class="footer-company-name">
        &nbsp;&nbsp;Affordable Car Renting Service &nbsp;&copy; 2019
      </p>
    </div>

    <div class="footer-center">
      <p><span>Contact Us</span></p>
      <ul>
        <li>
          <span><i class="fa fa-map-marker"></i></span>
          <span>16 Palm Lodge</span>
        </li>
        <li>3 Vermulen Ave, Malanshof , Randburg</li>

        <li>
          <span><i class="fa fa-phone"></i></span>
          <span>0744828778 </span>
        </li>

        <li>
          <span> <i class="fa fa-envelope"></i></span>
          <span
            ><a href="mailto:support@eaykars.com">contact@easykars.com</a></span
          >
        </li>
      </ul>
    </div>

    <div class="footer-right">
      <ul>
        <li>
          <a href="#"
            ><span><i class="fab fa-facebook"></i></span
          ></a>
        </li>
        <li>
          <a href="#"
            ><span><i class="fab fa-twitter"></i></span
          ></a>
        </li>
        <li>
          <a href="#"
            ><span><i class="fab fa-instagram"></i></span
          ></a>
        </li>
      </ul>
    </div>
  </footer>
</footer>
