<footer>
    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>Easy<span>Kar</span>Hire</h3>

            <p class="footer-company-name">EasyKarHire &copy; 2019</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>16 Palm Lodge</span> 3 Vermulen Ave, Malanshof , Randburg</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>0744828778</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@eaykars.com">contact@easykars.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the company</span>
                <ul>
                    <li>Company</li>
                    <li>Our Service</li>
                    <li>Faq</li>
                    <li>Help</li>
                    <li>Blog</li>
                  </ul>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>

            </div>

        </div>

    
</footer>
