<div class="header">
    <h3 class="logo">EasyKars </h3>
    <input type="checkbox" id="chk" >
    <label for="chk" class="show-menu-btn">
            <i class="material-icons">more_horiz</i>
    </label>
<div class="main">
    <ul class="menu">
        <a href="#" routerLink="/home" routerLinkActive="active">Home</a>
        <a href="#" routerLink="/about" routerLinkActive="active">About</a>  
        <a href="#" routerLink="/contactus" routerLinkActive="active">Contact Us</a>
        <a href="#" routerLink="/vehicle" routerLinkActive="active">Vehicle</a>
        <a href="#" routerLink="/offers" routerLinkActive="active">Offers</a>
        <a href="#" routerLink="/rentalcar" routerLinkActive="active">Rental Cars</a>
        <a href="#" routerLink="/enquiry" routerLinkActive="active" >Enquiry</a>
    
        
        
        <label for="chk" class="hide-menu-btn">
        <i class="material-icons">cancel_presentation</i>
    </label>
    </ul>
    <ul class="side-menu">
    <input type="text" class="search" placeholder="Search" name="search">
    <button type="submit" class="search-btn">
            <i class="material-icons">search</i> 
    </button>
    <a class="log" href='#' routerLink="/login" routerLinkActive="active"> <i class="material-icons">person</i></a>
    </ul>
</div>
</div>



