<div class="col-md-6">
    <form [formGroup]="form">
    <div>
        <label class="control-label" for="cardHolder">Card Holder</label>
        <input class="form-control"  formControlName="cardHolder" required>
    </div>
    <div>
        <label class="control-label" for="cardNo">Card No</label>
        <input class="form-control"  formControlName="cardNo" required>
    </div>
    <div>
        <label class="control-label" for="expiryDate">Expiry Date</label>
        <input class="form-control"  formControlName="expiryDate" required>
    </div>
    <div>
        <label class="control-label" for="cvv">Cvv</label>
        <input class="form-control"  formControlName="cvv" required>
    </div>
</form>
</div>