<div class="col-md-6">
  <h2 class="text-center">Booking Details</h2>
  
  <div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">

      <div class="form-group">
          <mat-form-field color="accent">
            <mat-label>Pickup Date</mat-label>
            <input matInput [matDatepicker]="picker1" name="pickupDate" class="form-control" id="pickupDate" required [(ngModel)]="booking.pickupDate"> 
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 color="primary"></mat-datepicker>
          </mat-form-field>
          </div>
          <div class="form-group">
            <input  placeholder="Pickup Location" name="pickupLocation" class="form-control" id="pickupLocation" required [(ngModel)]="booking.pickupLocation">
          </div>
          <div class="form-group">
          <mat-form-field color="accent">
            <mat-label>Return Date</mat-label>
            <input matInput [matDatepicker]="picker2" name="dropoffDate" class="form-control" id="dropoffDate" required [(ngModel)]="booking.dropoffDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
          </mat-form-field>
          </div>
          <div class="form-group">
          
            <input  placeholder="Drop-Off Location" name="dropOffLocation" class="form-control" id="dropOffLocation" required [(ngModel)]="booking.dropOffLocation">
          </div>
      
    <h3 class="text-center">Personal Details</h3>   
     
    <div class="form-group">
    <label for="name">First Name</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="booking.firstName" name="firstName">
        </div>

        <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="booking.lastName" name="lastName">
        </div>
        <div class="form-group">
          <label for="name">Contact Number</label>
          <input type="text" class="form-control" id="contactNo" required [(ngModel)]="booking.contactNo" name="contactNo">
      </div>
      <div class="form-group">
          <label for="name">Address</label>
          <input type="text"  class="form-control" id="address"  required [(ngModel)]="booking.address" name="address"> 
         </div>

          <div class="form-group">
          <label for="name">Email Address</label>
          <input type="email" class="form-control" id="emailId" required [(ngModel)]="booking.emailId" name="emailId">
      </div>
      <!--<input [(ngModel)]="toggle" type="checkbox"/> Pay on Pickip
   <hr />
      <div *ngIf="toggle; else prompt">
        Your booking is reserved!
      </div>
      <ng-template #prompt>
          Click the checkbox above to reveal hidden content!
        </ng-template>-->

       
          <h3 class="text-center">Payment Details</h3>
          <div class="form-group">
              <!--<button (click)="toggle()" id="btToggle" class="btn btn-info btn-lg" >{{button_name}}</button>
                    <div *ngIf="show_dialog">-->
          <label for="name">Card Number</label>
                  <input type="text" class="form-control" id="cardNo" required [(ngModel)]="booking.cardNo" name="cardNo">
              </div>
      
              <div class="form-group">
                  <label for="name">Expiry Date</label>
                  <input type="text" class="form-control" id="expiryDate" required [(ngModel)]="booking.expiryDate" name="expiryDate">
              </div>
      
              <div class="form-group">
                  <label for="name">CVV</label>
                  <input type="text" class="form-control" id="cvv" required [(ngModel)]="booking.cvv" name="cvv">
              </div>
              <div class="form-group">
                  <label for="name">Card Holder</label>
                  <input type="text" class="form-control" id="cardHolder" required [(ngModel)]="booking.cardHolder" name="cardHolder">
              </div>
              <!--/div>-->

              <h3 class="text-center">Terms And Conditions</h3>
              <div class="form-group">
              <div class="custom-control custom-checkbox">
              <input type="checkbox" class="form-control-check" name="mySingleCheckbox" id="mySingleCheckbox">
              <label class="custom-control-label" for="mySingleCheckbox">I have read and accepted the Conditions <span class="highlight">*</span></label> 
              <a routerLink="conditions" routerLinkActive="active" (click)="open()">Terms and Conditions</a>
        
            </div>
           <!-- <div class="invalid-feedback" *ngIf="form.controls['mySingleCheckbox'].errors && form.controls['mySingleCheckbox'].errors.required">This checkbox must be checked</div>
           --></div>
<br><br>

    <button id="btAddLogin" type="submit" class="btn btn-primary" >Confirm Booking</button>
    <router-outlet></router-outlet>
 </form>
</div>
</div>
<div [hidden]="!submitted">
    <h4>Your booking is successfully!</h4>
</div>

