<div class="content">
<div class="home">
    <img src="assets/img/Master.jpg" alt="">
   
</div>
<div>
    <p>
            n a landmark decision, the government of UAE, has announced to include Hindi language as the third official language, which will be used in the court. In the country, other two languages are Arabic and English. The objective of such decision is to improve the access to justice system.
            
            As per the official report, UAE has around 9 million population; of which two-third are immigrants from different countries of the world. Amidst, the Indians in the country counted as 2.6 million (about 30% of total population). Indians are the largest expatriate community here. Therefore, with the objective to help Hindi speakers to learn about the litigation procedures, their rights, and duties, Hindi is included as the third language.

    </p>
</div>
</div>