<section class="sider">
  <nav>
    <ul>
      <li>
        <a href="#" routerLink="/dashboard" routerLinkActive="active">
          <span><i class="fa fa-tachometer fa-lg" id="df"></i></span>
          <span>Dashboard</span></a
        >
      </li>
      <li>
        <a href="#" routerLink="/vehicle" routerLinkActive="active">
          <span><i class="fa fa-car fa-lg"></i></span>
          <span>Vehicles</span></a
        >
      </li>
      <li>
        <a href="#" routerLink="/profile" routerLinkActive="active">
          <span> <i class="fa fa-user fa-lg"></i></span>
          <span>Profile</span></a
        >
      </li>
      <li>
        <a href="#" routerLink="/users" routerLinkActive="active">
          <span><i class="fa fa-users fa-lg"></i></span>
          <span>User</span></a
        >
      </li>
      <li>
        <a href="#" routerLink="/addcar" routerLinkActive="active">
          <span><i class="fa fa-money fa-lg"></i></span>
          <span>Add Car</span></a
        >
      </li>

      <li>
        <a href="#" routerLink="/booking" routerLinkActive="active">
          <span><i class="fa fa-book fa-lg"></i></span>
          <span>Booking</span></a
        >
      </li>
    </ul>
    <button style="position: absolute;margin-top: 50%;margin-bottom: 50%;">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </button>
  </nav>
</section>

<!-- container -->
