<section id="sideMenu"> 
  <nav>
      <ul>
      
        <a href="#" routerlink="dashboard" routerLinkActive="active"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a>
        <a href="#" routerlink="cars" routerLinkActive="active"><i class="fa fa-car" aria-hidden="true"></i>Vehicles</a>
        <a href="#"  routerlink="provile" routerLinkActive="active"><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
        <a href="#" routerlink="users" routerLinkActive="active"><i class="fa fa-users" aria-hidden="true"></i>Users</a>
        <a href="#" routerlink="payments" routerLinkActive="active"><i class="fa fa-credit-card" aria-hidden="true"></i>Payments</a>
        <a href="#"  routerlink="booking" routerLinkActive="active"><i class="fa fa-book" aria-hidden="true"></i>Booking</a>
      </ul>
    </nav>
     </section>