.basic-container {
    position: relative;
    
    padding-left: 20%;
}
table {
    width: 100%;
}
 
.mat-form-field {
    width: 40%;
    padding-left: 20%;
}
 
.btn-secondary {
    background-color: #401f44;
    color: #ffffff;
}